<% layout("/layouts/boilerplate") %>

<div class="row justify-content-center">
  <div class="col-md-7">
    <div class="card shadow">
        <div class="card-header">
          <h3>Create Department</h3>
      </div>

      <div class="card-body"> 
        <form action="/departments" method="POST">
          <div class="mb-3">
            <label class="form-label">Department Name</label>
            <input
            type="text"
            class="form-control"
            name="department[name]"
            required>
          </div>

          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea
              class="form-control"
              rows="4"
              name="department[description]"></textarea>
          </div>

          <button class="btn btn-success">Create Department</button>
        </form>
      </div>
    </div>
  </div>
</div>